<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pruebagit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FA1E8481D35A76600562319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA1E85C1D35A76700562319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA1E8671D35A76700562319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
